body{
    text-align: center;
    font-family: "Inter";
	background-color: ivory ;
	color: #5a575f;
}

select{
	height: 48px;
	border-radius: 30px;
	color: #baa1be;
	border-color: #5a575f;
	width: 180px;
	text-align: center;
}

#gameBoard {
	font-size: 32pt;
	height: 400px;
	width: 400px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}

#gameBoard:hover{
	box-shadow: rgba(86, 59, 182, 1) 0px 10px 80px;
}

h2:hover {
	animation: cssAnimation_0 1341ms infinite ease-out 43ms;
  }
  
  @keyframes cssAnimation_0 {
	to {
	  transform: rotate(360deg) translate(0px, 0px);
	}
  }

 #title{
	font-size: 45px;
	
} 

.tiles {
	height: 97px;
	width: 97px;
	border: 2px solid black;
	position: absolute;
	
}
.validMove:hover{
	border: 2px solid red;
	color: red;
	cursor: pointer;
}
.notValid{
	border: 2px solid black;
	color: none;
	cursor: default;
}
.button{
    background-color: #baa1be;
    border: none;
    text-align: center;
    padding: 13px;
    border-radius: 35px;
    width: 10%;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 1em;
	margin-right: 20px;
  }

#settings{
    margin-top: 30px;
}

.popupButton{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-left: 500px;
	background-color: transparent;
	margin-top: 50px;
	;
}

#popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }

#popup .popuptext {
	visibility: hidden;
	width: 300px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 5;
	bottom: -1200%;
	left: 50%;
	margin-left: -100px;
}

#popup .popuptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -55px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}

#popup .show {
	visibility: visible;
}

